<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quygt.dkcs.dao.AdminUserDao">

    <insert id="insert" parameterType="AdminUser" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO fdcs_admin_user
        (
        userName,
        passWord,
        realName,
        userRole,
        loginCount,
        state,
        lastLoginTime,
        createTime)
        VALUES
        (
        #{userName},
        #{passWord},
        #{realName},
        #{userRole},
        #{loginCount},
        #{state},
        #{lastLoginTime},
        #{createTime}
        )
        ]]>
    </insert>

    <delete id="delete"> DELETE FROM fdcs_admin_user WHERE id=#{id} </delete>

    <update id="update" parameterType="AdminUser">
        UPDATE fdcs_admin_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName!= null and userName!='' ">userName=#{userName},</if>
            <if test="passWord!= null and passWord!='' ">passWord=#{passWord},</if>
            <if test="realName!= null and realName!='' ">realName=#{realName},</if>
            <if test="userRole>0">userRole=#{userRole},</if>
            <if test="state>0">state=#{state},</if>
            <if test="loginCount > 0">loginCount=#{loginCount},</if>
            <if test="lastLoginTime!=null ">lastLoginTime=#{lastLoginTime},</if>
        </trim>
        WHERE id=#{id} ;
    </update>

    <select id="getmodel" resultType="AdminUser">
        SELECT * FROM fdcs_admin_user
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="userName!= null and userName!='' ">AND userName=#{userName}</if>
            <if test="passWord!= null and passWord!='' ">AND passWord=#{passWord}</if>
            <if test="realName!= null and realName!='' ">AND realName=#{realName}</if>
            <if test="userRole>0">AND userRole=#{userRole}</if>
            <if test="state>0">AND state=#{state}</if>
            <if test="loginCount > 0">AND loginCount=#{loginCount}</if>
            <if test="lastLoginTime!=null ">AND lastLoginTime=#{lastLoginTime}</if>
        </trim>
        limit 0,1
    </select>

    <select id="getlist" resultType="AdminUser">
        SELECT * FROM fdcs_admin_user
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="userName!= null and userName!='' ">AND userName=#{userName}</if>
            <if test="passWord!= null and passWord!='' ">AND passWord=#{passWord}</if>
            <if test="realName!= null and realName!='' ">AND realName=#{realName}</if>
            <if test="userRole>0">AND userRole=#{userRole}</if>
            <if test="state>0">AND state=#{state}</if>
            <if test="loginCount > 0">AND loginCount=#{loginCount}</if>
            <if test="lastLoginTime!=null ">AND lastLoginTime=#{lastLoginTime}</if>
        </trim>
    </select>
</mapper>