<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quygt.dkcs.dao.AdminUserLoginLogDao">

    <insert id="insert" parameterType="AdminUserLoginLog" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO fdcs_admin_user_login_log
        (
        adminUserId,
        adminUserName,
        adminRealName,
        browser,
        ip,
        state,
        createTime)
        VALUES
        (
        #{adminUserId},
        #{adminUserName},
        #{adminRealName},
        #{browser},
        #{ip},
        #{state},
        #{createTime}
        )
        ]]>
    </insert>

    <delete id="delete"> DELETE FROM fdcs_admin_user_login_log WHERE id=#{id} </delete>

    <update id="update">
        UPDATE fdcs_admin_user_login_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="adminUserId!= null ">adminUserId=#{adminUserId},</if>
            <if test="adminUserName!= null ">adminUserName=#{adminUserName},</if>
            <if test="adminRealName!= null ">adminRealName=#{adminRealName},</if>
            <if test="browser!=null ">browser=#{browser},</if>
            <if test="ip!= null ">ip=#{ip},</if>
            <if test="state!= null ">state=#{state},</if>
            <if test="createTime!=null ">createTime=#{createTime},</if>
        </trim>
        WHERE id=#{id} ;
    </update>

    <select id="getmodel" resultType="AdminUserLoginLog">
        SELECT * FROM fdcs_admin_user_login_log
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="adminUserId>0 ">AND adminUserId=#{adminUserId}</if>
            <if test="adminUserName!= null ">AND adminUserName=#{adminUserName}</if>
            <if test="adminRealName!= null ">AND adminRealName=#{adminRealName}</if>
            <if test="browser!=null ">AND browser=#{browser}</if>
            <if test="ip!= null ">AND ip=#{ip}</if>
            <if test="state>0 ">AND state=#{state}</if>
            <if test="createTime!=null ">AND createTime=#{createTime}</if>
        </trim>
        limit 0,1
    </select>

    <select id="getlist" resultType="AdminUserLoginLog">
        SELECT * FROM fdcs_admin_user_login_log
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="adminUserId>0 ">AND adminUserId=#{adminUserId}</if>
            <if test="adminUserName!= null ">AND adminUserName=#{adminUserName}</if>
            <if test="adminRealName!= null ">AND adminRealName=#{adminRealName}</if>
            <if test="browser!=null ">AND browser=#{browser}</if>
            <if test="ip!= null ">AND ip=#{ip}</if>
            <if test="state>0 ">AND state=#{state}</if>
            <if test="createTime!=null ">AND createTime=#{createTime}</if>
        </trim>
        ORDER BY id DESC
    </select>

</mapper>