<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quygt.dkcs.dao.AppErrorLogDao">
    <insert id="insert"  parameterType="AppErrorLog" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO fdcs_app_error_log
      (
        userId,userRealName,appType,category,ip,errorUrl,appIntro,errorIntro,isRead,createTime
      )VALUES
      (
        #{userId},#{userRealName},#{appType},#{category},#{ip},#{errorUrl},#{appIntro},#{errorIntro},#{isRead},#{createTime}
      )
    </insert>
</mapper>