<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quygt.dkcs.dao.ChannelDao">

    <sql id="base_search_column_list">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="id>0">AND id=#{id}</if>
            <if test="code!= null and code!=''">AND `code`like concat('%',#{code},'%')</if>
            <if test="name!= null and name!=''">AND `name` like concat('%',#{name},'%')</if>
            <if test="linker!= null and linker!=''">AND linker=#{linker}</if>
            <if test="phone!= null and phone!=''">AND phone=#{phone}</if>
            <if test="type!= null and type!=''">AND type=#{type}</if>
            <if test="state !=null and state>0">AND state=#{state}</if>
            <if test="startTime!=null and startTime!=''">
                AND createTime &gt;= concat(#{startTime}," 00:00:00")
            </if>
            <if test="endTime!=null and endTime !=''">
                AND createTime &lt;= concat(#{endTime}," 23:59:59")
            </if>
        </trim>
    </sql>

    <insert id="insert" parameterType="Channel" useGeneratedKeys="true" keyProperty="id">
        insert into fdcs_channel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                `code`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="channelPassword != null">
                channelPassword,
            </if>
            <if test="linker != null">
                linker,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                #{code},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="channelPassword != null">
                #{channelPassword},
            </if>
            <if test="linker != null">
                #{linker},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="state != null">
                #{state},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="Channel">
        UPDATE fdcs_channel
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">
                `code`=#{code},
            </if>
            <if test="name != null">
                `name`=#{name},
            </if>
            <if test="channelPassword != null">
                channelPassword=#{channelPassword},
            </if>
            <if test="linker != null">
                linker=#{linker},
            </if>
            <if test="phone != null">
                phone=#{phone},
            </if>
            <if test="type != null">
                type=#{type},
            </if>
            <if test="state != null">
                state=#{state},
            </if>
            <if test="createTime != null">
                createTime=#{createTime},
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="getlist" resultType="Channel">
        SELECT * FROM fdcs_channel
        <include refid="base_search_column_list"/>
        ORDER BY id DESC
    </select>

    <select id="getSearchList" resultType="Channel">
        SELECT id,name FROM fdcs_channel
        <include refid="base_search_column_list"/>
        ORDER BY id DESC
    </select>

    <select id="getByCode" resultType="Channel">
        SELECT * FROM fdcs_channel WHERE code=#{code}
    </select>

    <select id="getById" resultType="Channel">
        SELECT * FROM fdcs_channel WHERE id=#{id}
    </select>

    <select id="getmodel" resultType="Channel">
        SELECT * FROM fdcs_channel
        <include refid="base_search_column_list"/>
        limit 0,1
    </select>

    <delete id="delete" parameterType="Channel">
        DELETE FROM fdcs_channel
        <include refid="base_search_column_list"/>
    </delete>

    <select id="selectCount" resultType="int">
        SELECT count(1) FROM fdcs_channel
        <include refid="base_search_column_list"/>
    </select>

    <update id="updateByIds" >
        UPDATE fdcs_channel
        <trim prefix="SET" suffixOverrides=",">
            <if test="t.code != null">
                `code`=#{t.code},
            </if>
            <if test="t.name != null">
                `name`=#{t.name},
            </if>
            <if test="t.channelPassword != null">
                channelPassword=#{t.channelPassword},
            </if>
            <if test="t.linker != null">
                linker=#{t.linker},
            </if>
            <if test="t.phone != null">
                phone=#{t.phone},
            </if>
            <if test="t.type != null">
                type=#{t.type},
            </if>
            <if test="t.state != null">
                state=#{t.state},
            </if>
            <if test="t.createTime != null">
                createTime=#{t.createTime},
            </if>
        </trim>
        WHERE id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <select id="selectAllByIds" resultType="Channel">
        SELECT fc.id,fc.name,count(fu.id) AS userCount FROM fdcs_channel fc
        LEFT JOIN fdcs_user fu ON fc.id=fu.channelId
        WHERE fc.id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY fc.id
    </select>
    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM fdcs_channel
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>