<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quygt.dkcs.dao.InfoGGDicDao">

    <insert id="insert" parameterType="InfoGGDic" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[

        INSERT INTO fdcs_info_ggdic
        (
        dicName,
        dicPath,
        state,
        orderIndex,
        createTime)
        VALUES
        (
        #{dicName},
        #{dicPath},
        #{state},
        #{orderIndex},
        #{createTime}
        )

        ]]>
    </insert>

    <delete id="delete"> DELETE FROM fdcs_info_ggdic WHERE id=#{id} </delete>

    <update id="update" parameterType="InfoGGDic">
        UPDATE fdcs_info_ggdic
        <trim prefix="SET" suffixOverrides=",">
            <if test="dicName!= null ">dicName=#{dicName},</if>
            <if test="dicPath!= null ">dicPath=#{dicPath},</if>
            <if test="state>0">state=#{state},</if>
            <if test="orderIndex>=0">orderIndex=#{orderIndex},</if>
        </trim>
        WHERE id=#{id} ;
    </update>

    <select id="getmodel" resultType="InfoGGDic">
        SELECT * FROM fdcs_info_ggdic
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="dicName!= null">AND dicName=#{dicName}</if>
            <if test="dicPath!= null">AND dicPath=#{dicPath}</if>
            <if test="state>0">AND state=#{state}</if>
            <if test="orderIndex>0">orderIndex=#{orderIndex},</if>
        </trim>
        limit 0,1
    </select>

    <select id="getlist" resultType="InfoGGDic">
        SELECT * FROM fdcs_info_ggdic
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="dicName!= null">AND dicName=#{dicName}</if>
            <if test="dicPath!= null">AND dicPath=#{dicPath}</if>
            <if test="state>0">AND state=#{state}</if>
            <if test="orderIndex>0">orderIndex=#{orderIndex},</if>
        </trim>
    </select>

    <select id="getmax" resultType="String">
        SELECT MAX(dicPath) FROM fdcs_info_ggdic WHERE LENGTH(dicPath)=#{orderIndex} AND dicPath like CONCAT('%',#{dicPath},'%')
    </select>

    <select id="gettreelist" resultType="InfoGGDic">
        SELECT id,dicName,dicPath,state,orderIndex,substring(dicPath,1,LENGTH(DicPath)-3) as path FROM fdcs_info_ggdic
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="dicName!= null">AND dicName=#{dicName}</if>
            <if test="dicPath!= null">AND dicPath=#{dicPath}</if>
            <if test="state>0">AND state=#{state}</if>
        </trim>
    </select>

</mapper>