<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quygt.dkcs.dao.InfoSuggestDao">

    <insert id="insert" parameterType="InfoSuggest" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO fdcs_info_suggest
        (
        userId,
        realName,
        mobile,
        isRead,
        content,
        createTime)
        VALUES
        (
        #{userId},
        #{realName},
        #{mobile},
        #{isRead},
        #{content},
        #{createTime}
        )
        ]]>
    </insert>

    <delete id="delete"> DELETE FROM fdcs_info_suggest WHERE id=#{id} </delete>

    <update id="update" parameterType="InfoSuggest">
        UPDATE fdcs_info_suggest
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId>0">userId=#{userId},</if>
            <if test="realName!= null ">realName=#{realName},</if>
            <if test="mobile!= null ">mobile=#{mobile},</if>
            <if test="isRead>0 ">isRead=#{isRead},</if>
            <if test="content!=null ">content=#{content},</if>
        </trim>
        WHERE id=#{id} ;
    </update>

    <select id="getmodel" resultType="InfoSuggest">
        SELECT * FROM fdcs_info_suggest
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="userId>0">AND userId=#{userId}</if>
            <if test="realName!= null ">AND realName=#{realName}</if>
            <if test="mobile!= null ">AND mobile=#{mobile}</if>
            <if test="isRead>0 ">AND isRead=#{isRead}</if>
            <if test="content!=null ">AND content=#{content}</if>
        </trim>
        limit 0,1
    </select>

    <select id="getlist" resultType="InfoSuggest" >
        SELECT * FROM fdcs_info_suggest
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="userId>0">AND userId=#{userId}</if>
            <if test="realName!= null ">AND realName=#{realName}</if>
            <if test="mobile!= null ">AND mobile=#{mobile}</if>
            <if test="isRead>0 ">AND isRead=#{isRead}</if>
            <if test="content!=null ">AND content=#{content}</if>
        </trim>
    </select>

</mapper>