<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quygt.dkcs.dao.SupplyDao">

    <resultMap type="com.quygt.dkcs.model.Supply" id="mSupplyAll">
        <id column="id" property="id"/>
        <result column="supplyName" property="supplyName"/>
        <result column="supplyType" property="supplyType"/>
        <result column="logo" property="logo"/>
        <result column="intro" property="intro"/>
        <result column="linkUrl" property="linkUrl"/>
        <result column="minMoney" property="minMoney"/>
        <result column="maxMoney" property="maxMoney"/>
        <result column="rate" property="rate"/>
        <result column="rateUnit" property="rateUnit"/>
        <result column="state" property="state"/>
        <result column="orderIndex" property="orderIndex"/>
        <result column="hits" property="hits"/>
        <result column="createTime" property="createTime"/>
        <result column="recommend" property="recommend"/>
        <result column="score" property="score"/>
        <result column="lendingSpeed" property="lendingSpeed"/>
        <result column="applyCondition" property="applyCondition"/>
        <result column="examineDetails" property="examineDetails"/>
        <result column="noviceGuidance" property="noviceGuidance"/>
        <result column="productAdvantage" property="productAdvantage"/>
        <result column="evaluateNum" property="evaluateNum"/>
        <result column="passProbability" property="passProbability"/>
        <result column="welcomeDegree" property="welcomeDegree"/>
        <result column="lendingSpeedBar" property="lendingSpeedBar"/>
        <result column="minLoanTerm" property="minLoanTerm"/>
        <result column="maxLoanTerm" property="maxLoanTerm"/>
        <result column="raiders" property="raiders"/>
        <result column="raidersIndex" property="raidersIndex"/>
        <result column="isBank" property="isBank"/>
        <result column="isOperator" property="isOperator"/>
        <result column="isEssential" property="isEssential"/>
        <result column="isIdentity" property="isIdentity"/>
        <result column="isFace" property="isFace"/>
        <result column="isSesame" property="isSesame"/>
        <result column="isOncePay" property="isOncePay"/>
        <result column="isCredit" property="isCredit"/>
        <result column="hotKeyWord" property="hotKeyWord"/>
    </resultMap>

    <sql id="base_sql_all"><!-- 全部字段 -->
        fs.id,fs.supplyName,fs.supplyType,fs.logo,fs.intro,fs.linkUrl,fs.minMoney,fs.maxMoney,fs.rate,fs.rateUnit,fs.raiders,fs.raidersIndex,
        fs.state,fs.orderIndex,fs.hits,fs.createTime,fs.recommend,fs.score,fs.lendingSpeed,fs.applyCondition,fs.examineDetails,fs.noviceGuidance,
        fs.productAdvantage,fs.evaluateNum,fs.passProbability,fs.welcomeDegree,fs.lendingSpeedBar,fs.minLoanTerm,fs.maxLoanTerm,
        fs.isBank,fs.isOperator,fs.isEssential,fs.isIdentity,fs.isFace,fs.isOncePay,fs.isOncePay,fs.isCredit,fs.hotKeyWord,fs.isSesame
    </sql>
    <select id="getSupplyById" resultType="Supply">
        SELECT * FROM fdcs_supply WHERE id=#{id}
    </select>

    <update id="update" parameterType="Supply">
        UPDATE fdcs_supply
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplyName!= null">supplyName=#{supplyName},</if>
            <if test="supplyType!= null">supplyType=#{supplyType},</if>
            <if test="logo!= null">logo=#{logo},</if>
            <if test="intro!= null">intro=#{intro},</if>
            <if test="linkUrl!= null">linkUrl=#{linkUrl},</if>
            <if test="minMoney!= null">minMoney=#{minMoney},</if>
            <if test="maxMoney!= null">maxMoney=#{maxMoney},</if>
            <if test="rate!= null">rate=#{rate},</if>
            <if test="rateUnit!= null">rateUnit=#{rateUnit},</if>
            <if test="state!= null">state=#{state},</if>
            <if test="orderIndex!= null">orderIndex=#{orderIndex},</if>
            <if test="hits!= null">hits=#{hits},</if>
            <if test="recommend>0">recommend=#{recommend},</if>
            <if test="score!=null">score=#{score},</if>
            <if test="lendingSpeed!=null">lendingSpeed=#{lendingSpeed},</if>
            <if test="applyCondition!=null">applyCondition=#{applyCondition},</if>
            <if test="examineDetails!=null">examineDetails=#{examineDetails},</if>
            <if test="noviceGuidance!=null">noviceGuidance=#{noviceGuidance},</if>
            <if test="productAdvantage!=null">productAdvantage=#{productAdvantage},</if>
            <if test="evaluateNum!=null">evaluateNum=#{evaluateNum},</if>
            <if test="passProbability!=null">passProbability=#{passProbability},</if>
            <if test="welcomeDegree!=null">welcomeDegree=#{welcomeDegree},</if>
            <if test="lendingSpeedBar!=null">lendingSpeedBar=#{lendingSpeedBar},</if>
            <if test="minLoanTerm!=null">minLoanTerm=#{minLoanTerm},</if>
            <if test="maxLoanTerm!=null">maxLoanTerm=#{maxLoanTerm},</if>
            <if test="raiders!=null">raiders=#{raiders},</if>
            <if test="raidersIndex!=null">raidersIndex=#{raidersIndex},</if>
            <if test="isBank!=null">isBank=#{isBank},</if>
            <if test="isOperator!=null">isOperator=#{isOperator},</if>
            <if test="isEssential!=null">isEssential=#{isEssential},</if>
            <if test="isIdentity!=null">isIdentity=#{isIdentity},</if>
            <if test="isFace!=null">isFace=#{isFace},</if>
            <if test="isSesame!=null">isSesame=#{isSesame},</if>
            <if test="isOncePay!=null">isOncePay=#{isOncePay},</if>
            <if test="isCredit!=null">isCredit=#{isCredit},</if>
            <if test="hotKeyWord!=null">hotKeyWord=#{hotKeyWord},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="getListByPage" resultType="Supply">
        SELECT * FROM fdcs_supply
        <trim prefix="WHERE" prefixOverrides="AND">
            state=1
            <if test="supplyType!=null and supplyType!=''">AND supplyType=#{supplyType}</if>
            <if test="recommend>0">recommend=#{recommend}</if>
        </trim>
        ORDER BY orderIndex DESC,id DESC
    </select>

    <select id="getmodel" resultType="Supply">
        SELECT * FROM fdcs_supply
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="supplyName!=null">AND supplyName=#{supplyName}</if>
            <if test="supplyType>0">AND supplyType=#{supplyType}</if>
            <if test="logo!=null">AND logo=#{logo}</if>
            <if test="intro!=null">AND intro=#{intro},</if>
            <if test="linkUrl!=null">AND linkUrl=#{linkUrl}</if>
            <if test="minMoney>0">AND minMoney=#{minMoney}</if>
            <if test="maxMoney>0">AND maxMoney=#{maxMoney}</if>
            <if test="rate!=null">AND rate=#{rate}</if>
            <if test="rateUnit>0">AND rateUnit=#{rateUnit}</if>
            <if test="state>0">AND state=#{state}</if>
            <if test="orderIndex>0">AND orderIndex=#{orderIndex}</if>
            <if test="hits>0">AND hits=#{hits}</if>
            <if test="recommend>0">AND recommend=#{recommend}</if>
        </trim>
        limit 0,1
    </select>

    <insert id="insert" parameterType="Supply" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fdcs_supply(
            id,supplyName,supplyType,logo,intro,linkUrl,minMoney,maxMoney,rate,rateUnit,state,orderIndex,hits,createTime,recommend
            <if test="score!=null">,score</if>
            <if test="lendingSpeed!=null">,lendingSpeed</if>
            <if test="applyCondition!=null">,applyCondition</if>
            <if test="examineDetails!=null">,examineDetails</if>
            <if test="noviceGuidance!=null">,noviceGuidance</if>
            <if test="productAdvantage!=null">,productAdvantage</if>
            <if test="evaluateNum!=null">,evaluateNum</if>
            <if test="passProbability!=null">,passProbability</if>
            <if test="welcomeDegree!=null">,welcomeDegree</if>
            <if test="lendingSpeedBar!=null">,lendingSpeedBar</if>
            <if test="minLoanTerm!=null">,minLoanTerm</if>
            <if test="maxLoanTerm!=null">,maxLoanTerm</if>
            <if test="raiders!=null">,raiders</if>
            <if test="raidersIndex!=null">,raidersIndex</if>
            <if test="isBank!=null">,isBank</if>
            <if test="isOperator!=null">,isOperator</if>
            <if test="isEssential!=null">,isEssential</if>
            <if test="isIdentity!=null">,isIdentity</if>
            <if test="isFace!=null">,isFace</if>
            <if test="isSesame!=null">,isSesame</if>
            <if test="isOncePay!=null">,isOncePay</if>
            <if test="isCredit!=null">,isCredit</if>
            <if test="hotKeyWord!=null">,hotKeyWord</if>
        ) VALUES (
            #{id},#{supplyName},#{supplyType},#{logo},#{intro},#{linkUrl},#{minMoney},#{maxMoney},#{rate},#{rateUnit},#{state},#{orderIndex},#{hits},#{createTime},#{recommend}
            <if test="score!=null">,#{score}</if>
            <if test="lendingSpeed!=null">,#{lendingSpeed}</if>
            <if test="applyCondition!=null">,#{applyCondition}</if>
            <if test="examineDetails!=null">,#{examineDetails}</if>
            <if test="noviceGuidance!=null">,#{noviceGuidance}</if>
            <if test="productAdvantage!=null">,#{productAdvantage}</if>
            <if test="evaluateNum!=null">,#{evaluateNum}</if>
            <if test="passProbability!=null">,#{passProbability}</if>
            <if test="welcomeDegree!=null">,#{welcomeDegree}</if>
            <if test="lendingSpeedBar!=null">,#{lendingSpeedBar}</if>
            <if test="minLoanTerm!=null">,#{minLoanTerm}</if>
            <if test="maxLoanTerm!=null">,#{maxLoanTerm}</if>
            <if test="raiders!=null">,#{raiders}</if>
            <if test="raidersIndex!=null">,#{raidersIndex}</if>
            <if test="isBank!=null">,#{isBank}</if>
            <if test="isOperator!=null">,#{isOperator}</if>
            <if test="isEssential!=null">,#{isEssential}</if>
            <if test="isIdentity!=null">,#{isIdentity}</if>
            <if test="isFace!=null">,#{isFace}</if>
            <if test="isSesame!=null">,#{isSesame}</if>
            <if test="isOncePay!=null">,#{isOncePay}</if>
            <if test="isCredit!=null">,#{isCredit}</if>
            <if test="hotKeyWord!=null">,#{hotKeyWord}</if>
        )
    </insert>

    <select id="getPageList" resultType="Supply">
        SELECT * FROM fdcs_supply
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="supplyName!=null">AND supplyName=#{supplyName}</if>
            <if test="supplyType>0">AND supplyType=#{supplyType}</if>
            <if test="logo!=null">AND logo=#{logo}</if>
            <if test="intro!=null">AND intro=#{intro}</if>
            <if test="linkUrl!=null">AND linkUrl=#{linkUrl}</if>
            <if test="minMoney>0">AND minMoney=#{minMoney}</if>
            <if test="maxMoney>0">AND maxMoney=#{maxMoney}</if>
            <if test="rate!=null">AND rate=#{rate}</if>
            <if test="rateUnit>0">AND rateUnit=#{rateUnit}</if>
            <if test="state>0">AND state=#{state}</if>
            <if test="orderIndex>0">AND orderIndex=#{orderIndex}</if>
            <if test="hits>0">AND hits=#{hits}</if>
            <if test="recommend>0">AND recommend=#{recommend}</if>
        </trim>
        ORDER BY orderIndex DESC,id DESC
    </select>

    <delete id="delete">DELETE FROM fdcs_supply WHERE id=#{id}</delete>

    <!-- 点击数自增1 -->
    <update id="updateHits" parameterType="java.lang.Long">
          UPDATE fdcs_supply SET hits=IFNULL(hits,0)+1 WHERE id=#{id}
    </update>

    <select id="selectListAll" parameterType="java.util.Map" resultType="Supply">
        SELECT id,supplyName,supplyType,logo,intro,linkUrl,minMoney,maxMoney,rate,rateUnit,hotKeyWord,
        state,orderIndex,raidersIndex ,hits,createTime,recommend,score,raiders,isBank,isOperator,isEssential,isIdentity,isFace,isSesame,isOncePay
        FROM fdcs_supply
        <where>
            <if test="supply.id>0">AND id=#{supply.id}</if>
            <if test="supply.supplyName!=null">AND supplyName=#{supply.supplyName}</if>
            <if test="supply.supplyType>0">AND supplyType=#{supply.supplyType}</if>
            <if test="supply.logo!=null">AND logo=#{supply.logo}</if>
            <if test="supply.intro!=null">AND intro=#{supply.intro}</if>
            <if test="supply.linkUrl!=null">AND linkUrl=#{supply.linkUrl}</if>
            <if test="supply.minMoney>0">AND minMoney=#{supply.minMoney}</if>
            <if test="supply.maxMoney>0">AND maxMoney=#{supply.maxMoney}</if>
            <if test="supply.rate!=null">AND rate=#{supply.rate}</if>
            <if test="supply.rateUnit>0">AND rateUnit=#{supply.rateUnit}</if>
            <if test="supply.state>0">AND state=#{supply.state}</if>
            <if test="supply.orderIndex>0">AND orderIndex=#{supply.orderIndex}</if>
            <if test="supply.hits>0">AND hits=#{supply.hits}</if>
            <if test="supply.recommend>0">AND recommend=#{supply.recommend}</if>
            <if test="supply.isBank!=null and supply.isBank>0">AND isBank=#{supply.isBank}</if>
            <if test="supply.isOperator!=null and supply.isOperator>0">AND isOperator=#{supply.isOperator}</if>
            <if test="supply.isEssential!=null and supply.isEssential>0">AND isEssential=#{supply.isEssential}</if>
            <if test="supply.isIdentity!=null and supply.isIdentity>0">AND isIdentity=#{supply.isIdentity}</if>
            <if test="supply.isFace!=null and supply.isFace>0">AND isFace=#{supply.isFace}</if>
            <if test="supply.isSesame!=null and supply.isSesame>0">AND isSesame=#{supply.isSesame}</if>
            <if test="supply.isOncePay!=null and supply.isOncePay>0">AND isOncePay=#{supply.isOncePay}</if>
            <if test="supply.isCredit!=null and supply.isCredit>0">AND isCredit=#{supply.isCredit}</if>
            <if test="minLendingSpeed!=null and minLendingSpeed!=''">AND lendingSpeed &gt;=#{minLendingSpeed}</if>
            <if test="maxLendingSpeed!=null and maxLendingSpeed!=''">AND lendingSpeed &lt;=#{maxLendingSpeed}</if>
            <if test="minPassProbability!=null and minPassProbability!=''">AND passProbability &gt;=#{minPassProbability}</if>
            <if test="maxPassProbability!=null and maxPassProbability!=''">AND passProbability &lt;=#{maxPassProbability}</if>
        </where>
        <trim prefix="ORDER BY" prefixOverrides=",">
            <if test="orderIndexSort!=null and orderIndexSort !=''  and orderIndexSort =='desc'">
                ,orderIndex DESC
            </if>
            <if test="orderIndexSort!=null and orderIndexSort !='' and orderIndexSort =='asc'">
                ,orderIndex ASC
            </if>
            <if test="raidersIndexSort!=null and raidersIndexSort !=''  and raidersIndexSort =='desc'">
                ,raidersIndex DESC
            </if>
            <if test="raidersIndexSort!=null and raidersIndexSort !='' and raidersIndexSort =='asc'">
                ,raidersIndex ASC
            </if>
            <if test="hitsSort!=null and hitsSort !='' and hitsSort =='desc'">
                ,hits DESC
            </if>
            <if test="hitsSort!=null and hitsSort !='' and hitsSort =='asc'">
                ,hits ASC
            </if>
            <if test="createTimeSort!=null and createTimeSort !='' and createTimeSort =='desc'">
                ,createTime DESC
            </if>
            <if test="createTimeSort!=null and createTimeSort !='' and createTimeSort =='asc'">
                ,createTime ASC
            </if>
        </trim>
        LIMIT #{pageStart},#{pageSize}
    </select>
    <select id="countSupply" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(id) FROM fdcs_supply
        <where>
            <if test="supply.id>0">AND id=#{supply.id}</if>
            <if test="supply.supplyName!=null">AND supplyName=#{supply.supplyName}</if>
            <if test="supply.supplyType>0">AND supplyType=#{supply.supplyType}</if>
            <if test="supply.logo!=null">AND logo=#{supply.logo}</if>
            <if test="supply.intro!=null">AND intro=#{supply.intro}</if>
            <if test="supply.linkUrl!=null">AND linkUrl=#{supply.linkUrl}</if>
            <if test="supply.minMoney>0">AND minMoney=#{supply.minMoney}</if>
            <if test="supply.maxMoney>0">AND maxMoney=#{supply.maxMoney}</if>
            <if test="supply.rate!=null">AND rate=#{supply.rate}</if>
            <if test="supply.rateUnit>0">AND rateUnit=#{supply.rateUnit}</if>
            <if test="supply.state>0">AND state=#{supply.state}</if>
            <if test="supply.orderIndex>0">AND orderIndex=#{supply.orderIndex}</if>
            <if test="supply.hits>0">AND hits=#{supply.hits}</if>
            <if test="supply.recommend>0">AND recommend=#{supply.recommend}</if>
            <if test="supply.isBank!=null and supply.isBank>0">AND isBank=#{supply.isBank}</if>
            <if test="supply.isOperator!=null and supply.isOperator>0">AND isOperator=#{supply.isOperator}</if>
            <if test="supply.isEssential!=null and supply.isEssential>0">AND isEssential=#{supply.isEssential}</if>
            <if test="supply.isIdentity!=null and supply.isIdentity>0">AND isIdentity=#{supply.isIdentity}</if>
            <if test="supply.isFace!=null and supply.isFace>0">AND isFace=#{supply.isFace}</if>
            <if test="supply.isSesame!=null and supply.isSesame>0">AND isSesame=#{supply.isSesame}</if>
            <if test="supply.isOncePay!=null and supply.isOncePay>0">AND isOncePay=#{supply.isOncePay}</if>
            <if test="supply.isCredit!=null and supply.isCredit>0">AND isCredit=#{supply.isCredit}</if>
            <if test="minLendingSpeed!=null and minLendingSpeed!=''">AND lendingSpeed &gt;=#{minLendingSpeed}</if>
            <if test="maxLendingSpeed!=null and maxLendingSpeed!=''">AND lendingSpeed &lt;=#{maxLendingSpeed}</if>
            <if test="minPassProbability!=null and minPassProbability!=''">AND passProbability &gt;=#{minPassProbability}</if>
            <if test="maxPassProbability!=null and maxPassProbability!=''">AND passProbability &lt;=#{maxPassProbability}</if>
        </where>
    </select>
    <select id="sumHits" parameterType="Supply" resultType="java.lang.Integer">
        SELECT sum(hits) FROM fdcs_supply
        <where>
            <if test="id>0">AND id=#{id}</if>
            <if test="supplyName!=null">AND supplyName=#{supplyName}</if>
            <if test="supplyType>0">AND supplyType=#{supplyType}</if>
            <if test="logo!=null">AND logo=#{logo}</if>
            <if test="intro!=null">AND intro=#{intro}</if>
            <if test="linkUrl!=null">AND linkUrl=#{linkUrl}</if>
            <if test="minMoney>0">AND minMoney=#{minMoney}</if>
            <if test="maxMoney>0">AND maxMoney=#{maxMoney}</if>
            <if test="rate!=null">AND rate=#{rate}</if>
            <if test="rateUnit>0">AND rateUnit=#{rateUnit}</if>
            <if test="state>0">AND state=#{state}</if>
            <if test="orderIndex>0">AND orderIndex=#{orderIndex}</if>
            <if test="hits>0">AND hits=#{hits}</if>
            <if test="recommend>0">AND recommend=#{recommend}</if>
        </where>
    </select>

    <select id="selectById" resultType="Supply" parameterType="java.lang.Long">
        SELECT <include refid="base_sql_all" />
        FROM fdcs_supply fs
        WHERE fs.id=#{id}
    </select>
</mapper>