<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quygt.dkcs.dao.SysDictionaryContentDao">

    <insert id="insert" parameterType="SysDictionaryContent" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO fdcs_sys_dictionary_content
        (
        dicPath,
        string1,
        string2,
        string3,
        string4,
        zs1,
        zs2,
        zs3,
        zs4,
        intro1,
        intro2,
        content,
        orderIndex,
        createTime)
        VALUES
        (
        #{dicPath},
        #{string1},
        #{string2},
        #{string3},
        #{string4},
        #{zs1},
        #{zs2},
        #{zs3},
        #{zs4},
        #{intro1},
        #{intro2},
        #{content},
        #{orderIndex},
        #{createTime}
        )
        ]]>
    </insert>

    <delete id="delete"> DELETE FROM fdcs_sys_dictionary_content WHERE id=#{id} </delete>

    <update id="update" parameterType="SysDictionaryContent">
        UPDATE fdcs_sys_dictionary_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="dicPath!= null ">dicPath=#{dicPath},</if>
            <if test="string1!= null ">string1=#{string1},</if>
            <if test="string2!= null ">string2=#{string2},</if>
            <if test="string3!= null ">string3=#{string3},</if>
            <if test="string4!= null ">string4=#{string4},</if>
            <if test="zs1!=null">zs1=#{zs1},</if>
            <if test="zs2!=null">zs2=#{zs2},</if>
            <if test="zs3!=null">zs3=#{zs3},</if>
            <if test="zs4!=null">zs4=#{zs4},</if>
            <if test="intro1!= null ">intro1=#{intro1},</if>
            <if test="intro2!= null ">intro2=#{intro2},</if>
            <if test="content!= null ">content=#{content},</if>
            <if test="orderIndex>=0 ">orderIndex=#{orderIndex},</if>
        </trim>
        WHERE id=#{id} ;
    </update>

    <select id="getmodel" resultType="SysDictionaryContent">
        SELECT * FROM fdcs_sys_dictionary_content
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="dicPath!= null ">AND dicPath=#{dicPath}</if>
            <if test="string1!= null ">AND string1=#{string1}</if>
            <if test="string2!= null ">AND string2=#{string2}</if>
            <if test="string3!= null ">AND string3=#{string3}</if>
            <if test="string4!= null ">AND string4=#{string4}</if>
            <if test="zs1>0 ">AND zs1=#{zs1}</if>
            <if test="zs2>0 ">AND zs2=#{zs2}</if>
            <if test="zs3>0 ">AND zs3=#{zs3}</if>
            <if test="zs4>0 ">AND zs4=#{zs4}</if>
            <if test="intro1!= null ">AND intro1=#{intro1}</if>
            <if test="intro2!= null ">AND intro2=#{intro2}</if>
            <if test="content!= null ">AND content=#{content}</if>
            <if test="orderIndex>0 ">AND orderIndex=#{orderIndex}</if>
        </trim>
        limit 0,1
    </select>

    <select id="getlist" resultType="SysDictionaryContent" >
        SELECT * FROM fdcs_sys_dictionary_content
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="dicPath!= null ">AND dicPath=#{dicPath}</if>
            <if test="string1!= null ">AND string1=#{string1}</if>
            <if test="string2!= null ">AND string2=#{string2}</if>
            <if test="string3!= null ">AND string3=#{string3}</if>
            <if test="string4!= null ">AND string4=#{string4}</if>
            <if test="zs1>0 ">AND zs1=#{zs1}</if>
            <if test="zs2>0 ">AND zs2=#{zs2}</if>
            <if test="zs3>0 ">AND zs3=#{zs3}</if>
            <if test="zs4>0 ">AND zs4=#{zs4}</if>
            <if test="intro1!= null ">AND intro1=#{intro1}</if>
            <if test="intro2!= null ">AND intro2=#{intro2}</if>
            <if test="content!= null ">AND content=#{content}</if>
            <if test="orderIndex>0 ">AND orderIndex=#{orderIndex}</if>
        </trim>
        ORDER BY orderIndex DESC,id DESC
    </select>

</mapper>