<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quygt.dkcs.dao.WithdrawalsDao">

    <sql id="base_column_list">
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="id>0">AND id=#{id}</if>
            <if test="userId!= null">AND userId=#{userId}</if>
            <if test="userName!= null and userName!=''">AND userName like concat('%',#{userName},'%')</if>
            <if test="state!= null">AND `state`=#{state}</if>
            <if test="amount!= null">AND amount=#{amount}</if>
            <if test="createTime!= null">AND createTime=#{createTime}</if>
            <if test="payTime!= null">AND payTime=#{payTime}</if>
            <if test="failReason!= null">AND failReason=#{failReason}</if>
            <if test="sysAdminId!= null">AND sysAdminId=#{sysAdminId}</if>
            <if test="sysAdminName!= null">AND sysAdminName=#{sysAdminName}</if>
            <if test="alipayAccount!= null and alipayAccount!=''">AND alipayAccount=#{alipayAccount}</if>
            <if test="alipayName!= null and alipayName!=''">AND alipayName=#{alipayName}</if>
            <if test="startTime!=null and startTime!=''">
                AND createTime &gt;= concat(#{startTime}," 00:00:00")
            </if>
            <if test="endTime!=null and endTime !=''">
                AND createTime &lt;= concat(#{endTime}," 23:59:59")
            </if>
        </trim>
    </sql>

    <sql id="base_column_list2">
        <trim prefix="WHERE" prefixOverrides="AND">
            1=1
            <if test="w.id>0">AND id=#{w.id}</if>
            <if test="w.userId!= null">AND userId=#{w.userId}</if>
            <if test="w.userName!= null">AND userName=#{w.userName}</if>
            <if test="w.state!= null">AND `state`=#{w.state}</if>
            <if test="w.amount!= null">AND amount=#{w.amount}</if>
            <if test="w.createTime!= null">AND createTime=#{w.createTime}</if>
            <if test="w.payTime!= null">AND payTime=#{w.payTime}</if>
            <if test="w.failReason!= null">AND failReason=#{w.failReason}</if>
            <if test="w.sysAdminId!= null">AND sysAdminId=#{w.sysAdminId}</if>
            <if test="w.sysAdminName!= null">AND sysAdminName=#{w.sysAdminName}</if>
            <if test="w.alipayAccount!= null and w.alipayAccount!=''">AND alipayAccount=#{w.alipayAccount}</if>
            <if test="w.alipayName!= null and w.alipayName!=''">AND alipayName=#{w.alipayName}</if>
            <if test="w.startTime!=null and w.startTime!=''">
                AND createTime &gt;= concat(#{w.startTime}," 00:00:00")
            </if>
            <if test="w.endTime!=null and w.endTime !=''">
                AND createTime &lt;= concat(#{w.endTime}," 23:59:59")
            </if>
            <if test="minAmount!=null">
                AND amount >= #{minAmount}
            </if>
        </trim>
    </sql>

    <insert id="insert" parameterType="Withdrawals" useGeneratedKeys="true" keyProperty="id">
        insert into fdcs_withdrawals
        <trim prefix="(" suffix=")" suffixOverrides=",">
            userId,
            <if test="userName != null">
                userName,
            </if>
            <if test="state != null">
                state,
            </if>
            amount,
            <if test="createTime != null">
                createTime,
            </if>
            <if test="payTime != null">
                payTime,
            </if>
            <if test="failReason != null">
                failReason,
            </if>
            <if test="sysAdminId != null">
                sysAdminId,
            </if>
            <if test="sysAdminName != null">
                sysAdminName,
            </if>
            <if test="alipayAccount != null">
                alipayAccount,
            </if>
            <if test="alipayName != null">
                alipayName,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userId},
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state},
            </if>
            <if test="amount != null">
                #{amount},
            </if>
            <if test="amount == null">
                (SELECT SUM(fui.bounty) FROM fdcs_user_invite fui
                LEFT JOIN fdcs_user_other_info fuoi ON fui.inviteId=fuoi.userId
                WHERE fui.userId=#{userId} AND fui.withdrawalsState IN (0,3) AND fuoi.isApp=1),
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="payTime != null">
                #{payTime},
            </if>
            <if test="failReason != null">
                #{failReason},
            </if>
            <if test="sysAdminId != null">
                #{sysAdminId},
            </if>
            <if test="sysAdminName != null">
                #{sysAdminName},
            </if>
            <if test="alipayAccount != null">
                #{alipayAccount},
            </if>
            <if test="alipayName != null">
                #{alipayName},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="Withdrawals">
        UPDATE fdcs_withdrawals
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId!= null">userId=#{userId},</if>
            <if test="userName!= null">userName=#{userName},</if>
            <if test="state!= null">state=#{state},</if>
            <if test="amount!= null">amount=#{amount},</if>
            <if test="createTime!= null">createTime=#{createTime},</if>
            <if test="payTime!= null">payTime=#{payTime},</if>
            <if test="failReason!= null">failReason=#{failReason},</if>
            <if test="sysAdminId!= null">sysAdminId=#{sysAdminId},</if>
            <if test="sysAdminName!= null">sysAdminName=#{sysAdminName},</if>
            <if test="alipayAccount!= null">alipayAccount=#{alipayAccount},</if>
            <if test="alipayName!= null">alipayName=#{alipayName},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="getlist" resultType="Withdrawals">
        SELECT * FROM fdcs_withdrawals
        <include refid="base_column_list"/>
        ORDER BY id DESC
    </select>

    <select id="getNotice" resultType="Withdrawals">
        SELECT id,userName,amount FROM fdcs_withdrawals
        <include refid="base_column_list2"/>
        ORDER BY id DESC
        limit #{start},#{size}
    </select>

    <select id="selectCount" resultType="java.lang.Integer" parameterType="Withdrawals">
        SELECT count(1) FROM fdcs_withdrawals
        <include refid="base_column_list"/>
    </select>

    <select id="getmodel" resultType="Withdrawals">
        SELECT * FROM fdcs_withdrawals
        <include refid="base_column_list"/>
        limit 0,1
    </select>

    <select id="getById" resultType="Withdrawals" parameterType="java.lang.Long">
        SELECT fw.*,fuoi.alipayAccount,fuoi.alipayName FROM fdcs_withdrawals fw
        JOIN fdcs_user_other_info fuoi
        ON fuoi.userId = fw.userId
        WHERE fw.id = #{id}
    </select>
</mapper>